<% content_for :javascripts do %>
	<%= javascript_include_tag :fckeditor %>
<% end %>
<h1>Editing document</h1>

<% form_for(@document) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= fckeditor_textarea("document", "body", :toolbarSet => 'Simple', :width => '100%', :height => '200px') %>
  </p>
  <p>
    <%= f.label :allow_comments %><br />
    <%= f.check_box :allow_comments %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @document %> |
<%= link_to 'Back', documents_path %>