<p>
  <b>Title:</b>
  <%=h @document.title %>
</p>

<p>
  <b>Body:</b>
  <%= @document.body %>
</p>

<p>
  <b>Rating:</b>
  <%=h @document.rating %>
</p>

<% if @document.allow_comments %>
	<p>
		<b>Comments</b>
		<div id="comments">
			<%= render :partial => 'document_comments/document_comment', :collection => @document.document_comments %>
		</div>
	</p>
	
	<% form_for DocumentComment.new(:document => @document) do |f| -%>
	  <%= f.hidden_field :document_id %>
		<p>
			<%= f.label :body %><br/>
			<%= f.text_field :body %>
		</p>
		<p><%= f.submit "Add Comment" %></p>
	<% end -%>
<% end -%>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>